@charset "UTF-8";
/* CSS Document */

nav {
	background-color: #b50043;
}

.navbutton {
	color: white;
}

.navbutton:hover {
	text-decoration: none;
	background-color: #820529;
	color: white;
}

.submitbtn {
	background-color: #b50043;
	color: white;
}

.submitbtn:hover {
	background-color: #820529;
	color: white;
}
